@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Oxygen:wght@700&display=swap');





/* cs  variables */
:root{
    --main-color:#443;
    /* vertical and horizontal */
    --border-radius:95% 4% 97% 5% / 4% 94% 3% 95%;
    --border-radius-hover: 4% 95% 6% 95% / 95% 4% 92% 5%;
    --border: .2rem solid var(--main-color);
    --border-hover:0.2rem dotted var(--main-color)

}
/* css variable ends here */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Agbalumos oxygen;
    text-decoration: none;
    ;outline: none;
    border: none;

    text-transform: capitalize;
    transition: all 2s linear;
}


html{
    /* trick to make font sizing easier */
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;

}

/* for all sections */
section{
    padding: 2rem 9%;
}

/* header code starts here */
.header{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    right: 0;
    align-items: center;
    padding: 2rem 9%;
    background: #fff;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0.5rem 1rem rgb(0, 0, 0, 0.1);
    z-index: 1;
}

.heading{
    font-size: 9rem;
    text-transform: uppercase;
    color: transparent;


    -webkit-text-stroke:0.5rem 
    var(--main-color);

    letter-spacing: 0.2rem;
    text-align: center;
    position: relative;
    pointer-events: none;
}


.header .logo{
    color: var(--main-color);
    font-size: 2.3rem;
}

.header .logo i{
    padding-left: 1rem;
}


.header .nav-bar a{
    margin: 0 1rem;
    color: var(--main-color);
    font-size: 1.7rem;
}

.heading span{
    position: absolute;
    width: 100%;
    color: var(--main-color);
    font-size: 48px;
    justify-content: center;
    align-items: center;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

.btn{
    border: var(--border);
    padding: 0.9rem 1.5rem;
    border-radius: var(--border-radius);
    color: var(--main-color);
}

.btn:hover{
    border-radius: var(--border-radius-hover);
    border: var(--border-hover);
}

/* home section */
.home{
    min-height: 100vh;
    padding: 150px;
    background-image: url(../image/home-bg.jpg);
    background-size: cover;
    background-position: center;
    
}

.home .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 1.5rem;
}

.home .row .content{
width: 50rem;
padding-top: 10rem;
}

.home .row  .content h3{
    text-transform: uppercase;
    color: var(--main-color);
    font-size: 6.5rem;
    margin-bottom: 2rem;
}

.home .row .image{
    width: 100%;
    max-width: 42rem;
    margin: 0 auto;
    padding-top: 6rem;
    text-align: center;
}

.home .image-slider{
    text-align: center;
    padding: 3rem 0;
}

.home .image-slider img{
    margin-top: 5rem;
    height: 9rem;
}
.home .image-slider img:hover{
    transform: translateY(-2rem);
   
}

.home .row .image img{
    height: 20rem;
    animation: move 6s linear infinite;
    
}
@keyframes move{
    0%, 100%{
        transform: translateX(0rem) rotate(-10deg);
    }

    50%{
        transform: translateX(-7rem) rotate(10deg);
    }
}

.about .row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1.5rem;
    justify-content: center;
}

.about .row .image{
    width: 100%;
    max-width: 42rem;
    margin: 0 auto;
    text-align: center;
}

.about .row image img{
    width: 100%;
}

.about .row .content{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 42rem;
}

.about .row .content .title{
    color: var(--main-color);
    font-size: 3rem;
    line-height: 1.8rem;
}

section{
    padding: 4% 10%;
}